@import "tailwindcss";

@media print {
  @page {
    margin: 1cm;
    size: A4;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white !important;
  }
  
  .print\:hidden {
    display: none !important;
  }
}
